body {
    margin: 0;
    background: #F5D0D0
;
    /* rosado de fondo */
    font-family: Arial, sans-serif;
}

/* F8BBD0 PINK 
F5D0D0 soft PINK
FBDFA2 YELLOW
4A0011 RED 
e9cdb4 e9cdb4*/
.hero {
    background: #4A0011;
    color: #e9cdb4;
    padding: 20px;
    border: 6px solid #f5b6c4;
    border-bottom: 1300px;
    border-radius: 10px 10px 10px 10px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e9cdb4;
    font-size: 18px;
    text-decoration: none;
}

.navbar text {
    color: #e9cdb4;
    font-size: 18px;
    text-decoration: none;
}

.logo {
    font-size: 14px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.menu li a {
    cursor: pointer;
    color: #e9cdb4;
    text-decoration: none;
}

.btn-nav {
    background: transparent;
    border: 1px solid #fff;
    color: #e9cdb4;
    padding: 5px 12px;
    border-radius: 6px;
    box-shadow: 0px 10px 25px #FBDFA2;
}

/* TEXTO CENTRAL*/
.hero-content {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.hero-content h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 60px;
    margin: 0;
    background-color: transparent;
}

.hero-content p {
    margin: 15px 0;
}

.btn-main {
    background: #f5b6c4;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 10px 25px #FBDFA2;
}



body {
    background: #e6a8b5;
    font-family: Arial, sans-serif;
}

/* CONTENEDOR GENERAL */
#about {
    padding: 60px;
}

/* SOBRE MI */
.about-card {
    background: #F8BBD0;
    color: #e9cdb4;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    margin-top: 3px;
}


.text {
    max-width: 300px;
    margin-top: 70px;
}

.text h3 {
    color: #4A0011;
    font-size: 50px;
}

.btn {
    background: #4A0011;
    color: #FBDFA2;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 10px 25px #4A0011;
}

/* FOTO */
.photo img {
    width: 180px;
    border: 6px solid #4A0011;
    transform: rotate(5deg);
    box-shadow: 0px 10px 25px #4A0011;
}

/* SKILLS SECTION */
#skills-section {
    background-color: #4A0011;
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

/* SKILLS IZQUIERDA */
.skills {
    flex: 1;
}

.skills h2 {
    color: #FBDFA2;
    font-size: 30px;
    padding: 10px;
    margin-left: 50%;
    width: fit-content;
    font-family: "Brush Script MT", cursive;
}

.skills-box {
    background: #FBDFA2;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* DECOR DERECHA */
.decor {
    margin-top: 100px;
    display: flex;
    align-items: right;
    gap: 2px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
}

.decor img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #FBDFA2;
}
.decor img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.card {
    background: e9cdb4;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    transform: rotate(-5deg);
    border: 3px solid #4A0011;
}

.robot {
    background: e9cdb4;
    padding: 15px;
    margin-top: 20px;
    transform: rotate(5deg);
    border: 2px solid #ccc;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f6cbd3;
}

/* TITULOS */
.titulo {
    background: #4A0011;
    color: #e9cdb4;
    display: inline-block;
    font-size: 30px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 45%;
    box-shadow: 0px 10px 25px #FBDFA2;
    font-family: "Brush Script MT", cursive;
}

/* PROYECTOS */
.proyectos {
    padding: 30px;
    text-align: center;
}
.proyectos img a{
    color: #e9cdb4;
    text-decoration: none;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #4A0011;
    padding: 10px;
    box-shadow: 5px 5px 0px #4A0011;
}

.card img {
    display: block;
    width: 120px;
    height: 120px;
    background: e9cdb4;
}

/* METAS */
.metas {
    background: #f3d6db;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0px 10px 25px #FBDFA2;
    background-color: #F8BBD0;
}

.contenido {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* TEXTO */
.texto {
    width: 60%;
    margin-left: 20%;
}

.texto h3 {
    color: #7a0c1d;
}

/* IMAGENES LATERALES */
.imagenes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 10px 40px 40px;
}

.box {
    height: 150px;
    width: 480px;
    background: #7a0c1d;
    border-radius: 10px;

}

.imagenes text{
    text-align: center;
    color: e9cdb4;
}
#rude{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 0 30%;
}
#rude img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
#cutie1{
    box-shadow: 0px 10px 10px #8994f5;
    grid-column: span 1;
    grid-row: span 1;
    margin: auto;
    grid: auto;
}
#cutie2{
    box-shadow: 0px 10px 10px #FBDFA2;
}
#cutie3{
    box-shadow: 0px 10px 10px #615b52;
}
#cutie4{
    box-shadow: 0px 10px 10px #914f4f;
}
#cutie5{
    box-shadow: 0px 10px 10px #914f4f;
}
#cutie6{
    box-shadow: 0px 10px 10px #487448;
}
#cutie7{
    box-shadow: 0px 10px 10px #633e3e;
}
#cutie8{
    box-shadow: 0px 10px 10px #d5f838;
}
#cutie9{
    box-shadow: 0px 10px 10px #4e9faa;
}
#rude img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
#rude h1{
    grid-column: span 3;
    text-align: center;
    color: #4A0011;
    font-family: "Brush Script MT", cursive;
}