body {
    margin: 0;
    background: black;
    font-family: "Segoe UI", sans-serif;
}

.contenedor {
    position: relative;
    width: 600px;
    margin: 50px auto;
}


.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border-radius: 5px;
}


.tarjeta {
    background: #f2d4d9;
    padding: 30px;
    position: relative;
    z-index: 1;
    box-shadow: 10px 10px 0px #000;
}

.contenido {
    background: #e7c88f;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
}


.cinta {
    background: #6d0014;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #f2d4d9;
}

.cinta h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    margin: 10px 0;
}

.ositos {
    font-size: 25px;
}